# Database Connection
DB_CONNECTION_STRING=Server=localhost;Database=CompanyProductsDb;User Id=sa;Password=TuPassword;Trusted_Connection=True;TrustServerCertificate=True;

# API Settings
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5041

# Swagger Settings
SWAGGER_ENABLED=true